.FlowSteps {
  display: flex;
}

.FlowSteps--Step {
  width: 168px;
  height: 64px;
}

.FlowSteps--Step:first-child {
  margin-left: 0 !important;
}

.FlowStep {
  position: relative;
}

.FlowStep--background,
.FlowStep--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.FlowStep--background {
  display: flex;
}

.FlowStep--content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.FlowStep--number,
.FlowStep--label {
  color: white;
}

.FlowStep--number {
  font-size: 1.5rem;
  font-weight: 600;
}

.FlowStep--number::after {
  content: ".";
  margin-right: 6px;
}

.FlowStep--label {
  font-size: 1rem;
  font-weight: 400;
}

.FlowStep__current .FlowStep--background,
.FlowStep__passed .FlowStep--background {
  fill: #333;
}

.FlowStep__current .FlowStep--number,
.FlowStep__current .FlowStep--label {
  font-weight: 600;
}

.FlowStep__coming .FlowStep--background {
  fill: #eee;
}
